@import 'scss/reset';
@import 'scss/base';

@import url("https://use.typekit.net/qme2tsp.css");

$hauteurNom: 5vh;
$taille-curseur: 5vh;
$couleur-curseur: #CACACA60;

$degresCercle: 360deg;
$num-letters: 9;

$angle-offset: 0px;
$angle-per-char: $degresCercle / $num-letters;

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none;

  z-index: 1;
}

body {
  background: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  .navBar {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // Will be modified when hover
    width: 6vw;
    //----------------------------
    height: 100vh;

    // Blurry background
    background-color: #11111190;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    #name {
      display: flex;
      align-items: center;
      justify-content: center;


      width: 100%;
      height: $hauteurNom;

      p {
        transition: all .5s ease-in-out;
        font-weight: 700;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;

      width: 100%;
      height: 100vh - (2 * $hauteurNom);

      overflow: hidden;

      .angledText {
        transition: all 0.5s ease-in-out;

        // Will be modified when hover
        width: 0;
        //----------------------------

        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          color: #CACACA;

          transition: all 0.5s ease-in-out;
          transform: rotate(-90deg);

          margin-top: 5vh;

          font-size: 4vh;

          height: $hauteurNom;
          width: 100vh - (2 * $hauteurNom);

          text-align: right;

          z-index: 3;

          // Will be modified when hover
          opacity: 0;
          //----------------------------
          &::before {
            border-top: 3px solid #CACACA;
            display: block;
            position: relative;
            top: $hauteurNom / 2;
            width: 70%;
            content: "";
          }
        }
      }

      .insideMenu {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15vh;

        .tabs {
          width: 0;
          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            overflow: visible;

            white-space: nowrap;

            opacity: 0;
            font-family: "Video", serif;
            font-weight: 400;
            font-style: normal;

            &:hover {
              color: #CACACA;
            }
          }
        }
      }
    }

    .bas {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: $hauteurNom;

      transition: all 0.5s ease-in-out;

      white-space: nowrap;

      p {
        text-decoration: none;
      }
    }

    transition: all 0.5s ease-in-out;

    &:hover {
      width: 50vw;

      #name {
        p {
          margin-left: 5vh;
        }
      }

      .angledText {
        width: $hauteurNom;

        p {
          opacity: 1;
        }
      }

      .insideMenu {
        .tabs {
          width: 100%;
          p {
            opacity: 1;
          }
        }
      }

      .bas {
        a::after {
          content: "TOMPLANCHE - ";
        }

        p::before {
          content: "©";
        }
      }
    }
  }

  .points {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 6vw;
    height: 100vh;

    .point {
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 100;

      p {
        width: 12vh;

        text-align: center;

        transform: translateX(-10vh);
        opacity: 0;
      }

      width: 2vh;
      height: 2vh;


      background: #EEEEEE;
      border-radius: 50%;

      margin: 2vh;


      &.selected {
        width: 4vh;
        height: 4vh;
        border: #111111 solid 1px;

      }

      &:hover {
        &:not(&.selected) {
        background: #111111;
        border: #CACACA solid 1px;
        }

        p {
          opacity: 1;
          border-radius: 25px;
          background-color: #11111190;
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
        }
      }
    }
  }

  .centeredText {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: "Video", Serif, monospace;


    }


  }


  .page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 6vw;

    .demi {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      z-index: 2;

      &.v {
        width: 50%;
        height: 100%;
      }

      &.h {
        width: 100%;
        height: 50%;
      }

      &.t {
        align-items: normal;
        height: 25%;
      }

      &:nth-child(even) {
        height: 25%;
      }

      &:nth-child(odd) {
        height: 75%;
      }

      &.d {
        justify-content: right;
      }
    }

    &#page1 {
      background: url("imgs/daft.png") no-repeat center center;
      background-size: cover;
      display: flex;
    }

    &#page2 {
      background-color: #111111;

      img {
        width: 60vw;
      }

      p {
        position: absolute;
      }
    }

    &#page3 {
      background-color: darkslategray;

      display: flex;
      justify-content: space-between;

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 100vw;
        border-top: 25vh solid #111111;

        z-index: 0;
      }

      img {
        height: 75%;
        width: auto;

        animation: head-move 4s infinite;
      }

      p {
        text-align: center;
      }

      .descrArt {
        width: 50%;
        height: 80%;

        z-index: 2;

        p {
          text-align: right;
        }
      }
    }
  }

  h1 {
    font-size: calc(100vw * 100 / 1440);
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    z-index: 9;
  }


}

p, a {
  font-size: calc(24vw * 100 / 1440);
  color: white;
  font-family: "Video", serif;
  font-weight: 400;


  &:hover:not(.notUnderlined) {
    color: #CACACA;

    ~ .cursor--small {
      background: #0074D9;
    }

  }
}


.cursor {
  position: fixed;
  pointer-events: none;

  left: $taille-curseur / -2;
  top: $taille-curseur / -2;
  border-radius: 50%;
  z-index: 11000;
  background: $couleur-curseur;
  border: #CACACA solid 1px;



}


.cursor--small {
  width: $taille-curseur;
  height: $taille-curseur;


}

.cursor--large {


  width: $taille-curseur * 1.5;
  height: $taille-curseur * 1.5;

  left: ($taille-curseur * 1.5) / -2;
  top: ($taille-curseur * 1.5) / -2;
}


.cursor--canvas {
    width: 0;
    height: 0;
    z-index: 12000;
}


@keyframes head-move {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
